@model PhatHanhSach.Models.ViewModels.SachViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    List<SelectListItem> l1 = new List<SelectListItem>();
    var listSach = (List<PhatHanhSach.Models.ViewModels.SachViewModel>)Session["listSach"];

    string errorMessage = (string)TempData["ErrorMessage"];
}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $("#TenSach").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/NhapSach/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#MaSach").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>
@*<script type="text/javascript">
        function fnValidate() {
            if (document.getElementById("MaSach").value == '') {
                alert('Khong duoc de trong o nhap.')
            }
        }
    </script>*@
<script>
     $(document).ready(function () {
         $('ThemVaoBang').click(function () {

             var inVal = $("#MaSach").val();

             if (inVal.length == 0) {
                 alert("textbox value can't be empty");
                 $("#MaSach").focus();
             }
         });
     });
</script>



@*@section myCustomJS {
        <script src="~/Content/assets/js/myCustomJS.js"></script>
    }*@

<body class="menu-affix">
    <div class="col-lg-12">
        <div class="box inverse">
            <header>
                <h5>1.Chi tiết Phiếu Nhập</h5>
            </header>
            <!-- Them Sach Vao Bang -->
            <div id="div-1" class="body collapse in" aria-expanded="true" style="position:relative">
                @using (Html.BeginForm("ThemVaoBang", "NhapSach", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label class="control-label col-lg-4">Nhập Tên Sách</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.TenSach, new { id = "lbTenSach", @class = "form-control", required = "required" })
                            @*<input type="hidden" name="MaSach" id="MaSach" />*@
                            <p>@errorMessage</p>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Nhập Số Lượng</label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(m => m.SLNhap, new { type = "number", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" id="ThemSach">Thêm Sách</button>
                        </div>

                }
            </div>
            <!-- Ket Thuc Them Sach Vao Bang -->
            <!-- Tao Phieu Nhap -->
            <div id="div-2" class="body collapse in" aria-expanded="true" style="position:relative">
                @using (Html.BeginForm("LuuCSDL", "NhapSach", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div id="collapse4" class="body">
                        <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Mã Sách</th>
                                    <th>Tên Sách</th>
                                    <th>Giá Nhập</th>
                                    <th>Số Lượng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in listSach)
                                {
                                    <tr class="sachmodel">
                                        <td class="masach">@s.MaSach</td>
                                        <td class="tensach">@s.TenSach</td>
                                        <td class="giasach">@s.GiaNhap</td>
                                        <td class="soluong">@s.SLNhap</td>
                                        <td>@Html.ActionLink("Xóa", "XoaKhoiBang", new { @MaSach = s.MaSach })</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                        <header>
                            <h5>2.Phiếu Nhập</h5>
                        </header>
                        <br />
                        <div class="form-group">
                            <label class="control-label col-lg-4">Nhà Xuất Bản </label>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(m => m.MaNXB, ViewBag.nxblistname as SelectList, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Ngày Nhập</label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(m => m.NgayNhap, new { @class = "form-control", type = "datetime-local", required = "required" })
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success">Lưu</button>
                        </div>

                }
            </div>
            <!-- Ket Thuc Tao Phieu Nhap -->
        </div>
    </div>
</body>

